* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(234, 234, 234);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;
}

section {
    margin-top: 40px;
}

#navbar {
    background-color: #fff;
    width: 100%;
    border-bottom: 1px solid;
}

#navbar li {
    color: #4d4e53;
    border-top: 1px solid black;
    list-style: none;
}

#navbar a {
    display: block;
    padding: 10px 30px;
    color: #4d4e53;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
}

#main-doc {
    margin: 0 auto;
}